*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4d4d4d;
}

h3{
    font-size: xx-large;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

h4{
     font-size: xx-large;
    font-weight: 500;
}

nav{
    display: grid;
    place-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(253, 250, 250, 0.5);
    color: rgb(66, 242, 255);
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

main{
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgba(255,255,255,0.5);
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    margin-top: 50px;
}
.btn:hover{
    font-size: 21px;
}

@media (max-width: 900px){
    .container{
        width: 100%;
    }
 
    h3{
        font-size: large;
   }
   h4{
    font-size: large;
   }
}